/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .nav-links {
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-bg-text {
        font-size: 25vw;
    }

    .main-title {
        font-size: 40px;
    }

    .price-tag {
        font-size: 40px;
    }

    .cart-table th,
    .cart-table td {
        padding: 16px;
        font-size: 40px;
    }

    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    /* Hero Responsive */
    .v2-layout {
        grid-template-columns: 1fr;
        gap: 16px;
        text-align: center;
    }

    .hero-left-slider {
        height: 40vh;
    }



    .hero-right-content {
        align-items: center;
    }
}